name: test send css
on:
  push:
    branches: [ "main" ]
  schedule:
  - cron: "0 9 * * 1-5" # 台灣時間早上9點
jobs:
  my_job:
    name: run index
    runs-on: ubuntu-22.04
    env:
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: npm install
      - run: node index.js
